.card {
  --fs-description: 18px;

  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0;
  padding-bottom: 100%;
  height: 0;

  border: none;
  border-radius: 5px;
  overflow: hidden;
  cursor:zoom-in;
  transition: transform 0.3s, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.01);
  transform: translateY(-4px);

  box-shadow: 0 4px 4px var(--color-5);
}

.card:hover .card__overlay {
  opacity: 0.9;
}

.card__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

.card__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 15px 5px;
  width: 100%;
  box-sizing: border-box;

  text-align: center;
  font-size: var(--fs-description);
  line-height: 1.4;
  font-weight: 500;
  z-index: 10;
  color: var(--color-alt-text);
}

.card__image {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__overlay {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-5);
  opacity: 0.8;
  z-index: 5;
  transition: opacity 0.3s ease;
}

.card__title {
  margin: 0;
}

@media screen and (max-width: 960px) {
  .card {
    --fs-description: 15px;
  }
  .card__description {
    padding: 8px 4px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    --fs-description: 18px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    padding-bottom: 40%;
  }
  .card__description {
    padding: 4px 4px;
  }
}