.footer {
  padding: 24px 0;
  background-color: rgba(5, 8, 20, 0.8);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 0;
}

.footer__label {
  color: var(--color-alt-text);
}

@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column-reverse;
    gap: 24px;
  }
}