.intro {
  --fs-title: 48px;
  --fs-subtitle: 28px;
  --fs-button: 20px;

  position: relative;
  background-image: url(../images/intro.webp);
  background-size: cover;
}

.intro:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
}

.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 160px;
  padding-bottom: 100px;
}

.intro__title {
  z-index: 10;

  margin-top: 0;
  margin-bottom: 30px;

  font-size: var(--fs-title);
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-alt-text);
}

.intro__title::after {
  display: block;
  content: '';
  width: 280px;
  height: 4px;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--color-alt-text);
}

.intro__subtitle {
  z-index: 10;

  margin-top: 0;
  margin-bottom: 80px;
  max-width: 600px;

  font-size: var(--fs-subtitle);
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: var(--color-alt-text);
}

.intro__nav-links {
  z-index: 10;
}

.intro__links {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;
}

.intro__link {
  list-style: none;
  margin-bottom: 40px;
}

.intro__link:last-of-type {
  margin-bottom: 0;
}

.intro__button {
  display: block;

  border: solid 1px var(--color-alt-text);
  background-color: var(--color-alt-text);
  padding: 6px 18px;
  width: fit-content;

  cursor: pointer;
  font-size: var(--fs-button);
  line-height: 1;
  font-weight: 500;
  transition: background-color 0.5s ease;
  color: var(--color-2);
  text-decoration: none;
  text-align: center;
}

.intro__button:hover {
  background: none;
  color: var(--color-alt-text);
}

.intro__button:focus {
  background: none;
  color: var(--color-alt-text);
  outline: none;
}

@media screen and (max-width: 768px) {
  .intro {
    --fs-title: 40px;
    --fs-subtitle: 20px;
  }
  .intro__title {
    letter-spacing: 2px;
  }
  .intro__links {
    display: none;
  }
  .intro__subtitle {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .intro__inner {
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .intro {
    --fs-title: 28px;
    --fs-subtitle: 18px;
  }
  .intro__title {
    letter-spacing: normal;
  }
}

@media screen and (max-width: 420px) {
  .intro {
    --fs-title: 20px;
    --fs-subtitle: 16px;
  }
}