.list-item {
  --fs-title: 24px;
  display: grid;
  grid-template-columns: 80px auto;
  gap: 30px
}

.list-item__icon {
  align-self: center;

  width: 100%;

  fill: var(--color-text);
}

.list-item__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-item__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: var(--fs-title);
  font-weight: 500;
  line-height: 1;
}

.list-item__description {
  margin: 0;

  font-size: var(--fs-content-text);
  font-weight: 400;
  line-height: 1.4;
}

@media screen and (max-width: 768px) {
  .list-item {
    --fs-title: 20px;
    grid-template-columns: 60px auto;
    gap: 20px
  }
}

@media screen and (max-width: 600px) {
  .list-item {
    grid-template-columns: 1fr;
    --fs-title: 18px;
  }
  .list-item__title {
    margin-bottom: 5px;
  }
  .list-item__description {
    line-height: 1.2;
  }
  .list-item__icon {
    display: none;
  }
}