.modal {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  transition: visibility 0.15s, opacity 0.3s linear;
  opacity: 0;
  background-color: rgba(5, 8, 20, 0.9);
}

.modal__container {
  position: relative;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__close-btn {
  position: absolute;
  top: -60px;
  right: -60px;

  padding: 0;
  width: 50px;
  height: 50px;

  border: none;
  background: none;
  transform: rotate(45deg);
  cursor: pointer;
}

.modal__close-btn:hover .modal__close-btn-icon {
  fill: var(--color-3);
}

.modal__close-btn:focus .modal__close-btn-icon {
  fill: var(--color-3);
  outline: none;
}

.modal__close-btn:focus {
  outline: none;
}

.modal__close-btn-icon {
  fill: var(--color-alt-text);
  transition: fill 0.3s ease;
}

.modal__image-container {
  position: relative;

  margin: 0;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image {
  display: block;

  margin-bottom: 10px;
  max-width: 75vw;
  max-height: 75vh;
  
  object-fit: cover;
}

.modal__image-name {
  max-width: 75vh;

  font-weight: 400;
  font-size: var(--fs-content-text);
  line-height: 1.21;
  color: var(--color-alt-text);
}

@media screen and (max-width: 768px) {
  .modal__close-btn {
    top: -30px;
    right: -30px;

    width: 30px;
    height: 30px;
  }
}