.page {
  --color-1: #ba7735;
  --color-4: #efd091;
  --color-3: #85aac5;
  --color-2: #024f94;
  --color-5: #050814;

  --bg-color-main: white;
  --bg-color-alt: #f0f0f0;

  --color-text: #050814;
  --color-alt-text: white;

  --fs-section-title: 28px;
  --fs-content-text: 18px;
  --fs-accent-content-text: 20px;

  background-color: var(--bg-color-alt);
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: var(--fs-content-text);
  color: var(--color-text);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__content {
  overflow: hidden;
}

.page__section {
  padding-top: 68px;
  max-width: 880px;
  margin: 0 auto;
}

.page__title {
  margin: 0 0 36px 0;
  width: fit-content;
  align-self: flex-start;

  font-size: var(--fs-section-title);
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.page__title::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  position: relative;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--color-2);
}

.page__card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page__card-item {
  list-style: none;
}

.page__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page__list-item {
  list-style: none;
  margin-bottom: 20px;
}

.page__list-item:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 919px) {
  .page__section {
    max-width: calc(100% - 20px*2);
  }
}

@media screen and (max-width: 768px) {
  .page__card-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .page {
    --fs-section-title: 24px;
    --fs-content-text: 16px;
    --fs-accent-content-text: 18px;
  }
  .page__title {
    letter-spacing: normal;
  }
}

@media screen and (max-width: 600px) {
  .page__section {
    padding-top: 40px;
  }
  .page__card-list {
    grid-template-columns: 1fr;
  }
  .page__title {
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 420px) {
  .page {
    --fs-section-title: 20px;
    --fs-accent-content-text: 16px;
  }
}